@media (max-width: 768px) {
    .deviceData span {
        display: block;
        /* margin-bottom: 8px;  */
    }
}

.header {
    font-size: 24px;
    margin-bottom: 16px;
}

.flexSection {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    gap: 32px;
}

.optionButton {
    position: relative;
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.modalContainer {
    position: absolute;
    top: 50px;
    right: inherit;
    bottom: inherit;
    left: 0;
    border: solid;
    border-radius: 16px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    justify-content: center;
    z-index: 1400;
}

.modalContent {
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
}

.leftOptions,
.rightOptions {
    display: inline-block;
    margin-right: 20px;
}

.buttonContainer {
    display: flex;
    justify-content: flex-end; 
    margin-top: 10px; 
}

.applyButton {
    background-color: #1a75ff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
    